body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding: 0;
    margin: 0;
    background-color:royalblue;
}


/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* Header **/
header{
    background:skyblue;
    color: #ffffff;
    padding-top: 20px;
    min-height: 50px;
    border-bottom:#e8491d 4px solid ;
}

header a{
    color: #ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: medium;
}

 <style>
   .container-1{
      display: flex;
      flex-direction:row;
   }

   .container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
   }

   .box-1{
    flex: 2;

   }

   .box-2{
    flex:3 ;

   }

   .box-3{
    flex: 4;

   }
   </style>




